[Unit]
Description=Node.JS data server
After=sound.target

[Service]
User=h4us
WorkingDirectory=/home/h4us/our-binta-devices/touch-sensor-pack/data-server
ExecStart=/usr/bin/node index.js

[Install]
WantedBy=multi-user.target
